body{
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  overflow: scroll
}
.logo{
  color: #FF5A5F !important;
  font-size: 34px !important;
  display: block;
  margin: 2px 5px 2px 5px;

}
.titles {
  font-size: 34px !important;
  font-weight: 600;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;

}
.booking1{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 50px;
  margin-top:0;
  float: right;
  z-index: 1;
}

.info{
  padding-left: 50px;
  padding-top: 50px;
}

.reviews{
  padding-left: 150px;
  padding-top: 30px;
}

.homes {
  display: fixed;
  position: absolute;
  margin-left: -80px;
}
